body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

h1 {
    color: green;
    text-align: center;
}

p {
    color: darkblue;
    font-size: 18px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 15px;
}
