@model Student2FA.Models.Student

<h2>Student Registration</h2>

<form asp-action="Register" method="post">

    <div>
        <label>Username</label><br />
        <input asp-for="Username" />
        <span asp-validation-for="Username" style="color:red"></span>
    </div>

    <br>

    <div>
        <label>Password</label><br />
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" style="color:red"></span>
    </div>

    <br>

    <div>
        <label>Email</label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email" style="color:red"></span>
    </div>

    <br>

    <div>
        <label>Phone Number</label><br />
        <input asp-for="PhoneNumber" placeholder="+91XXXXXXXXXX" />
        <span asp-validation-for="PhoneNumber" style="color:red"></span>
    </div>

    <br><br>

    <button type="submit">Register</button>

</form>

<br>

<a asp-action="Login">Already have account? Login</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}