<h2>Enter OTP</h2>

<form method="post">

    <input type="text" name="otp" placeholder="Enter OTP" />

    <br><br>

    <button type="submit">Verify OTP</button>

</form>

<p style="color:red">@ViewBag.Error</p>